body {
  font-family: "sans-serif";
  background-color: antiquewhite;
}

header h1 {
  text-align: center;
}

.section {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.left-section img {
  width: auto;
  height: auto;
  padding: 10px;
  margin: 10px;
}

.p {
  font-size: 17px;
  padding: 10px;
  border: 2px dashed #39df9e;
  border-radius: 10px;
  text-align: justify;
}

.right-section .left-section {
  text-align: justify;
}

.item {
  margin: 10px;
  padding: 10px;
  text-align: justify;
  border-radius: 20px;
  background-color: white;
  margin-bottom: 10px;
}

.right-section .item h2 {
  background-color: #1d4245;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  color: #fff;
}

.form {
  margin: auto;
  margin-top: 40px;
  margin-bottom: 30px;
  width: 500px;
  padding: auto;
  background-color: white;
}

.form-control {
  display: flex;
  margin-bottom: 1rem;
  border-radius: 10px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.form-control .label {
  width: 30%;
  padding: 10px;
  font-size: large;
}

.form-control input[type="text"],
.form-control input[type="email"],
.form-control input[type="password"],
.form-control input[type="tel"],
.form-control select {

  width: 50%;
  padding: 10px;
  font-size: large;
  font-weight: 400;
  line-height: 1.5;
  color: black;
  border: 2px solid black;
}

.form-control input[type="checkbox"] {
  padding: 10px;
  margin-left: 10px;
}

.submit {
  background-image: linear-gradient(to right, #2bc496, #0c8983);
  width: 100%;
  padding: 10px;
  color: white;
  border-radius: 20px;
  border: none;
  font-size: 20px;
}

.submit:hover {
  background-image: linear-gradient(to left, rgb(128, 181, 199), rgb(33, 109, 134));
}

footer {
  padding: 10px;
  background-color: rgb(29, 87, 87);
  color: white;
  letter-spacing: 1px;
  text-align: center;
}

footer a {
  color: lightgreen;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .section {
    flex-direction: column;
  }
}


@media screen and (max-width: 425px) {
  .form {
    width: auto;
  }
}